.page {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
}

.page-content {
    position: relative;
    left: 300px;
    top: 70px;
    width: fit-content;
    height: 90vh;
    overflow-y: scroll;
}

.page-heading {
    font-family: var(--main-font-family);
    font-size: 36px;
}

.page-button {
    background-color: var(--light-green);
    border: 2px solid var(--hover-green);
    border-radius: 1px;
    box-shadow: 4px 4px 11px 0px rgba(217,217,217,1);
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: var(--main-font-family);
    font-size: 20px;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
}

.page-button:hover {
    background-color: var(--hover-green);
    box-shadow: 2px 2px 6px 0px rgba(217,217,217,1);
}

.table-container {
    border: 1px solid #005338;
    padding: 30px;
    border-radius: 20px;
    width: 1200px;
    height: 650px;
}

.page-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 20px;
    display: inline-block;
    margin-top: 40px;
    margin-right: 40px;
    vertical-align: top;
}

.page-card-row {
    padding-top: 20px;
}

.page-card-heading {
    font-family: var(--main-font-family);
    font-size: 28px;
}

.page-column {
    display: inline-block;
    vertical-align: top;
}

.edit-toggle-container {
    margin-left: 30px;
}

.edit-toggle {
    cursor: pointer;
    font-size: 24px;
}

.edit-toggle-on {
    color: var(--light-green);
}

.undisplay-modal {
    display: none;
}

.alert-button {
    background-color: var(--main-red);
    border-color: var(--dark-red);
    color: var(--red-text);
}

.alert-button:hover {
    background-color: var(--dark-red);
    color: var(--off-white);
}
